build --cxxopt=-Wno-format
build --cxxopt=-std=c++14
build --cxxopt=-fdiagnostics-color=always
build --cxxopt=-Wno-noexcept-type
build --cxxopt=-Wall
build --cxxopt=-Wextra
build --cxxopt=-march=broadwell
build --cxxopt=-fPIC
build --cxxopt=-fno-builtin-malloc
build --cxxopt=-fno-builtin-calloc
build --cxxopt=-fno-builtin-realloc
build --cxxopt=-fno-builtin-free
build --cxxopt=-fno-omit-frame-pointer
build --cxxopt=-Wno-unused-parameter
build --cxxopt=-DGOOGLE_PROTOBUF_NO_RTTI
build --cxxopt=-Wno-unused-result
build --cxxopt=-DNDEBUG
build --cxxopt=-g
build --cxxopt=-O
build --cxxopt=-Wno-implicit-fallthrough
build --cxxopt=-Wno-sign-compare